.temp {
    display: flex;
    justify-content: center;
}

.wi-hi {
    width: 100%;
    height: 200px;
}

.bg-color {
    background: #1b263b;
}

.select {
    border: 1px solid rgb(1, 1, 1);
}

.hi {
    width: 10px;
    height: 10px;
}



.size-box {
    width: 150px;
}

.box-color {
    background-color: #1b263b;
}